.container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  padding: 3rem 2rem;
  flex-wrap: wrap;
}

.reverse {
  flex-direction: row-reverse;
}

.imageWrapper {
  flex: 1;
  display: flex;
  justify-content: center;
  min-width: 300px;
  max-width: 600px;
}

.image {
    aspect-ratio: 1 / 1; /* square */
  width: 100%;
  max-height: 500px;
  object-fit: cover;
  border-radius: 12px;
  /* max-width: 100%;
  max-height: 500px;
  height: auto;
  border-radius: 12px; */
}

.textContent {
  flex: 1;
  min-width: 300px;
  max-width: 600px;
}

.title {
  font-size: 2.4rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.description {
  font-size: 1rem;
  color: #444;
  margin-bottom: 1.5rem;
  line-height: 1.6;
}

.buttons {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.primary {
  padding: 0.75rem 1.5rem;
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 6px;
}

.secondary {
  padding: 0.75rem 1.5rem;
  background-color: transparent;
  color: black;
  border: 1px solid black;
  cursor: pointer;
  border-radius: 6px;
}
