.leftImages {
  width: 50%;
  display: flex;
  gap: 1rem;
}

.thumbnailList {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.thumbnail {
  width: 60px;
  height: 60px;
  object-fit: cover;
  cursor: pointer;
  border: 2px solid transparent;
  border-radius: 8px;
}

.active {
  border-color: #007bff;
}

.mainImage {
  flex: 1;
  max-width: 100%;
  max-height: 400px;
  object-fit: contain;
  margin-left: 1rem;
  border-radius: 10px;
}
