.rightInfo {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.price {
  font-size: 1.5rem;
  font-weight: bold;
}

.stars {
  color: #ffc107;
  font-size: 1.2rem;
}

.reviewCount {
  color: #555;
  margin-left: 0.5rem;
  font-size: 0.9rem;
}

.desc {
  color: #333;
  line-height: 1.5;
}

.buyBtn {
  background-color: black;
  color: white;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  border-radius: 6px;
  margin-top: 1rem;
}
